* {
    box-sizing: border-box;

}

body {
    width: 400px;
    text-align: center;

    border: 2px solid rgb(121, 22, 22);
    margin-left: 400px;
}

.container {
    display: grid;
    place-items: center;
    background-color: #f7e0e0;
}

img {
    width: 200px;
    padding-top: 20px;

}

h1 {
    color: rgb(121, 22, 22);
    font-size: 26px;
}

h2 {
    color: rgb(121, 22, 22);
    font-size: 22px;
}